.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #4b1616;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 50px;
  object-fit: contain;
  margin: 0 20px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #c34806;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.header__navMobile {
  display: none;
}

.header__menuIcon {
  display: block;
  color: white;
  cursor: pointer;
  padding: 10px;
  margin-right: 10px;
}

.header__menuIcon:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.header__menuItems {
  display: none;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .header {
    justify-content: space-between;
  }

  .header__nav {
    display: none;
  }

  .header__menuIcon {
    display: block;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
  }

  .header__menuIcon:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .header__menuItems {
    display: block;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #4b1616;
    width: 95%;
    padding: 10px;
  }

  .header__menuItems .header__option {
    margin: 10px 0;
  }

  .header__menuItems .header__option:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@media (max-width: 400px) {
  .header__nav {
    display: flex;
    justify-content: space-evenly;
  }

  .header__menuIcon {
    display: none;
  }
}
